{% extends 'layout.html.twig' %}

{% block content %}
	<section>
		<div class="container">
			<a href="{{ url('/admin/logout') }}" class="btn logout-btn">Déconnexion</a>
			<h2 class="section-title">Tous les decks</h2>

			{# Désactiver le bouton et ajouter un message d'erreur si nécessaire #}
			<a href="{{ url('/createDeck') }}" class="btn btn-primary add-deck-btn" {% if error %} disabled {% endif %}>Ajouter un deck</a>

			<p>Nombre de decks :
				{{ decks|length }}</p>

			{# Afficher le message d'erreur si défini #}
			{% if error %}
				<p class="alert alert-danger" role="alert">{{ error }}</p>
			{% endif %}

			<div class="deck-list">
				{% for deck in decks %}
					<div class="deck-card">
						<h3 class="deck-title">{{ deck.titre_deck }}</h3>
						<p>Date de début :
							{{ deck.date_debut_deck|date('d/m/Y') }}</p>
						<p>Date de fin :
							{{ deck.date_fin_deck|date('d/m/Y') }}</p>
						<p>Nombre de cartes :
							{{ deck.nb_cartes }}</p>
						<p>Nombre de j'aimes :
							{{ deck.nb_jaime }}</p>
						<div class="deck-actions">
							<a href="{{ url('/admin/deck/' ~ deck.id_deck) }}" class="btn btn-primary action-btn">Voir deck</a>
							<a href="{{ url('/admin/delete/' ~ deck.id_deck) }}?type=deck" class="btn btn-danger action-btn">Supprimer</a>
							{% if deck.live == 1 %}
								<a href="{{ url('/admin/deactivate/' ~ deck.id_deck) }}" class="btn btn-warning action-btn">Désactiver</a>
							{% else %}
								<a href="{{ url('/admin/activate/' ~ deck.id_deck) }}" class="btn btn-success action-btn">Activer</a>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
