{% extends 'layout.html.twig' %}

{% block content %}
	<section>
		<div class="container">
			<a href="{{ url('/admin/dashboard') }}" class="btn logout-btn">Retour au tableau de bord</a>
			<h2 class="section-title">Modifier la carte</h2>

			<!-- Afficher un message d'erreur si la carte n'existe pas -->
			{% if error %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endif %}

			<form action="{{ url('/admin/edit/' ~ carte.id_carte) }}" method="POST">
				<div class="input">
					<label for="texte_carte">Texte de la carte</label>
					<textarea class="" id="texte_carte" name="texte_carte" required>{{ carte.texte_carte }}</textarea>
				</div>

				<div class="input">
					<label class="label" for="valeurs_choix1">Choix 1 - Population</label>
					<input type="number" class="form-input" id="valeurs_choix1" name="valeurs_choix1" value="{{ carte.valeurs_choix1 | split(',')[0] }}" required>
				</div>
				<div class="input">
					<label class="label" for="valeurs_choix1bis">Choix 1 - Finances</label>
					<input type="number" class="form-input" id="valeurs_choix1bis" name="valeurs_choix1bis" value="{{ carte.valeurs_choix1 | split(',')[1] }}" required>
				</div>

				<div class="input">
					<label class="label" for="valeurs_choix2">Choix 2 - Population</label>
					<input type="number" class="form-input" id="valeurs_choix2" name="valeurs_choix2" value="{{ carte.valeurs_choix2 | split(',')[0] }}" required>
				</div>
				<div class="input">
					<label class="label" for="valeurs_choix2bis">Choix 2 - Finances</label>
					<input type="number" class="form-input" id="valeurs_choix2bis" name="valeurs_choix2bis" value="{{ carte.valeurs_choix2 | split(',')[1] }}" required>
				</div>

				<button type="submit" class="button-contained">Mettre à jour la carte</button>
			</form>
		</div>
	</section>
{% endblock %}
